*{
  margin: 0;
  padding: 0;
}

.ant-spin-dot-item {
  background-color: gold !important;
}

/* desktop */

.desktop{
  display: block;
  background: url("./desktop-bg.png") no-repeat center center;
  background-size: cover;
  height: 100dvh;
  width: 100dvw;
  background-color: #031E25;
  position: relative;
}

.switch-gif-for-desktop{
  width: 12%;
  display: block;
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.website-container {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
}

.website-container-col {
  display: flex;
  justify-content: center;
  align-items: center;
}


.website-container-col:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -2px; 
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom, transparent, #497977, transparent); 
}

.website-container-image {
  height: 12dvw; 
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.website-container-image:hover {
  transform: scale(1.1);
}

.images-container{
  position: absolute;
  right: 18%;
  bottom: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp-icon{
  position: absolute;
  bottom: 11%;
  left: 18%;
  height: 6.6dvw;
  cursor: pointer;
}

.images{
  height: 5.5dvw;
}

.eighteen-plus{
  height: 4.8dvw;
}

.chat-support{
  height: 6.6dvw;
  cursor: pointer;
}

.desktop-footer-image{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}



@media screen and (min-width: 1500px) {
  .desktop {
    background-size: cover;
  }
}

@media screen and (min-width: 1300px) {
  .desktop {
    background-size: contain;
  }
}

@media screen and (width: 1440px) and (height: 900px) {
  .desktop {
    background-size: cover;
  }
}


/* mobile */

.mobile{
  display: none;
  background: url("./mobile_bg.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-color: #031E25;
  position: relative;
}

.switch-gif {
  width: 40%;
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  position: absolute;
  top: 40%;
}

.image {
  width: 80%;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #031E25; */
  background: url("./mobile-footer-image.png") no-repeat center center ;
  background-size: contain;
  height: 30vh;
  width: 100vw;
  z-index: 100;
}

.circular-icon-and-tagline{
  height: 80px;
  margin-top: 10px;
  margin-bottom: -40%;
}

@media screen and (max-width: 540px){
  .desktop{
    display: none;
  }

  .mobile{
    display: block;
  }
  
}

@media screen and (max-width: 389px) {
  .mobile {
    background-size: contain; 
    background-position: center center;
  }

  .circular-icon-and-tagline{
    height: 65px;
    margin-top: 10px;
    margin-bottom: -35%;
  }
}